.container{
    padding: 70px 15px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.pre_title {
    font-size: 20px;
    color: #818181;
    width: auto;
}
.screen_title {
    font-size: 36px;
    margin-bottom: 50px;
    width: auto;
}

.question_text{
    text-align: center;
    font-size: 22px;
}

.picker_section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
}

.record_continue_button {
    background-color: #44caac;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.record_continue_button_text {
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
.record_footer {
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
}