.container{
    padding: 70px 15px 0;
}
.screen_title {
    font-size: 36px;
    margin-bottom: 50px;
    width: auto;
}
.profile_header {
    margin-bottom: 20px;
}
.profile_section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_picture {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.profile_name {
    font-size: 20px;
    margin-bottom: 5px;
}
.profile_point {
    color: #818181
}
.most_recent_text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pushup_text {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile_graphic {
    margin-bottom: 15px;
}
.section_title {
    font-size: 20px;    
    font-weight: bold;
    margin-bottom: 20px;
}
.profile_content_section {
    margin-bottom: 50px;
}
.profile_content_image {
    height: 310px;
}