.container{
    padding: 70px 15px 0;
}
.pre_title {
    font-size: 16px;
    color: #818181;
    width: auto;
    margin-bottom: 50px;
}
.screen_title {
    font-size: 36px;
    width: auto;
}
.explore_suggestion_text {
    font-size: 16px;
    margin-bottom: 15px;
}