.modal{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

.modal_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.modal_description {
    font-size: 14px;
    margin-bottom: 20px;
}
.modal_button {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 15px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal_icon {
    width: 13px;
    height: 13px;
    padding-right: 13px;
    // display: flex;
}
.text_center{
    text-align: center;
}