.background {
    height: 200px;
}
.card {
    // box-shadow: 1px 1px 1px #000;
    // border: 1px solid rgba(0,0,0, .5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
    background: #FFF;
}
.user_info {
    padding: 30px;
    display: flex;
    flex-direction: row;

}
.user_profile {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.runing_title {
    font-weight: bold;
    font-size: 15px;
}
.time_ago {
    font-size: 12px;
}
.background {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.card_kilometer {
    font-size: 40px;
    font-weight: bold;
}
.pre_text {
    font-size: 12px;
}