.container {
    margin-bottom: 15px;
}

.background {
    height: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.video_title {
    font-size: 26px;
}

.video_sub_title {
    font-size: 18px;
}
.video_sction {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.2);
}

.playicon {
    width: 50px;
    height: 50px;
}