.container{
    padding: 70px 15px 0;
}
.screen_title {
    font-size: 36px;
    // font-weight: bold;
}
.user_info {
    padding: 0 0 30px;
    display: flex;
    flex-direction: row;
}
.user_profile {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.runing_title {
    font-weight: bold;
    font-size: 15px;
}
.time_ago {
    font-size: 12px;
}
.user_profile_section {
    padding: 30px;
    margin-top: 50px;
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 20px;
}
.items_list {
    display: flex;
    flex-direction: row;
    margin: 0 -30px 30px;
}
.item {
    padding: 15px 30px;
    width: 130px;
}