.container{
    padding: 70px 15px 0;
}
.dashboard {

}
.pre_title {
    font-size: 20px;
    color: #818181;
    width: auto;
}
.screen_title {
    font-size: 36px;
    margin-bottom: 50px;
    width: auto;
}
.dashboard_header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
}
.dashboard_plus_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: #44caac;
    border-radius: 30px
}

.dashboard_plus_button_text {
    font-size: 30px;
    color: #FFF;
}