.modal{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-content: center;
    text-align: center;
}

.modal_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.modal_description {
    font-size: 14px;
    margin-bottom: 20px;
}
.modal_content {
    display: flex;
    justify-content: space-between;
}
.modal_agree_button {
    background-color: #44caac;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.agree_text {
    color: #FFF;
    font-weight: bold;
}
.text_center{
    text-align: center;
}