.dashboard_card {
    padding: 20px;
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 15px;
}
.dashboard_card_header {
    // border: 1px solid #000;
}
.dashboard_card_title {
    font-size: 20px;
    margin-bottom: 20px;
}
.dashboard_card_header_tab {
    padding:0 20px 0;
    color: #818181;
}
.dashboard_card_header_tabs {
    display: flex;
    flex-direction: row;
    margin: 0 -20px 30px;
    // border-bottom: 1px solid #000;
}

.score_pre_text {
    font-size: 16px;
    color: #818181;
    margin-bottom: 5px;
}

.score_text {
    font-size: 46px;
    margin-bottom: 50px;
}

.dashboard_card_image {
    margin-bottom: 20px;
    height: 140px;
}
.dashboard_card_button_text {
    font-size: 20px;
    color: #FFF;
}
.dashboard_card_button {
    padding: 10px 20px;
    background: #44caac;
    border-radius: 10px;
    width: 60px;
    text-align: center;
}
.dashboard_card_footer {
    display: flex;
    align-items: flex-end;
}
.typeOfScore {
    font-size: 26px;
}